.card {
    border: none !important;
    background-color: white !important;
    border-radius: 20px !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8) !important;

    .card-header {
        background-color: #00d4ff22 !important;
        text-align: center !important;
    }


    .card-footer {
        background-color: #00ffa922 !important;
    }

}