<nav class="Header navbar navbar-expand-lg navbar-light shadow">
    <a href="#!/"><span class="logo mb-0 mr-md-3">NT</span></a>
    <a class="navbar-brand" href="#!/"> Nguyễn Thịnh</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-2 mr-md-5" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="lab6Dropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Lab 6
                </a>
                <div class="dropdown-menu" aria-labelledby="lab6Dropdown">
                    <a class="dropdown-item" href="#!/Lab_6/Bai_1">Bài 1</a>
                    <a class="dropdown-item" href="#!/Lab_6/Bai_2">Bài 2</a>
                    <a class="dropdown-item" href="#!/Lab_6/Bai_3">Bài 3</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    id="lab7Dropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Lab 7
                </a>
                <div class="dropdown-menu" aria-labelledby="lab7Dropdown">
                    <a href="#!/Lab_7/Bai_1" class="dropdown-item">Bài 1</a>
                    <a href="#!/Lab_7/Bai_2" class="dropdown-item">Bài 2</a>
                    <a href="#!/Lab_7/Bai_3" class="dropdown-item">Bài 3</a>
                    <a href="#!/Lab_7/Bai_4" class="dropdown-item">Bài 4</a>
                    <a href="#!/Lab_7/Bai_5" class="dropdown-item">Bài 5</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
